$headerYearHeight = 30px;
$monthHeight = 55px;

.year {
  margin: 0 10px;
  width: 220px;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}

.headerYear {
  height: $headerYearHeight;
  line-height: $headerYearHeight;
  text-align: center;
  display: inline-block;
  width: 100%;
  cursor: default;
  border-bottom: 1px grey solid;
}

.yearMonth {
  cursor: pointer;
  display: inline-block;
  width: $monthHeight;
  height: $monthHeight;
  text-align: center;
  line-height: $monthHeight;
}

.headerClickable {
  cursor: pointer;
  background-color: #FFF1BA;
}